<article class="blue">
    <div class="contenedor_blue">
      <!-- He añadido el contenedor para darle margen como pone en la lección 6.4 -->
      <h1 class="encabezado-1">Prueba Premium gratis 3 meses</h1>
      <h3 class="subtitulo">
        Escucha millones de canciones sin anuncios, a la carta y sin conexión.
      </h3>
      <a class="green" href="">VER PLANES</a>
      <!-- He cambiado el h4 por un enlace y he añadido la clase "green" -->
      <p class="condiciones">
        Rigen términos y condiciones. Los tres meses gratis no están disponibles
        para usuarios que ya hayan probado Premium.
      </p>
    </div>
  </article>