<footer class="footer">
  <nav class="footer_nav">
    <ul class="footer_menu">
      <li><a class="footer__nav--link" href="">legal</a></li>
      <li><a class="footer__nav--link" href="">cookies</a></li>
      <li>
        <a class="footer__nav--link" href="">información sobre los anuncios </a>
      </li>
    </ul>
  </nav>
  <div class="right">
    <span class="idioma">España</span>
    <img src="./assets/images/es.svg" alt="Bandera de España" class="flag" />
    <span> &copy; 2019 Spotify AB</span>
  </div>
</footer>
