<header class="cabecera">
  <div class="container">
    <img src="./assets/images/logo.png" alt="Logo Spotify" class="logo" />
    <img src="./assets/images/menu-icon.png" alt="Icono menú" class="menu" />
  </div>
  <!-- <nav class="enlace">
        <a class="link" href="">Premium</a>
        <a class="link" href="">Ayuda</a>
        <a class="link" href="">Descargar</a>
        <a class="link" href="">Registrarse</a>
        <a class="link" href="">Iniciar sesión</a>
      </nav> -->
</header>
