.white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.encabezado-2 {
  font-family: var(--fuente-normal);
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin: 20px;
}

.benefit-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  padding: 0;
}

.benefit {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 50px;
}

.image-benefit {
  width: 100px;
  height: 100px;
  padding-right: 30px;
}

.benefit-title {
  font-family: var(--fuente-normal);
  font-size: 20px;
  font-weight: bold;
}

.benefit-text {
  font-family: var(--fuente-normal);
  font-size: 15px;
}
h4 {
  color: white;
  font-size: 15px;
}
.enlace {
  color: white;
}
