// @import "components/code";
// @import "components/links";
@import "core/mixins";
@import "core/reset";
@import "core/variables";
/* CABECERA */
@import "layout/header";
/* MAIN */
@import "layout/blue-section";
@import "layout/white-section";
/* FOOTER */
@import "layout/footer";

// @import "pages/index";
@import "pages/signup";

:root {
  --fuente-normal: "Roboto", sans-serif;
}

body {
  font-family: var(--fuente-normal);
  box-sizing: border-box; /* He cambiado el borde-box a body */
}
